:root {
	--background-hex: #fafafa;
	--dark-blue-hex: #212842;
	--box-background: #EAEBEB;
}

* {
	padding: 0px;
	margin: 0px;
	color: var(--dark-blue-hex);
}

body {
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
	background-color: var(--background-hex);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}


header {
	height: 8%;
	width: 100%;
	background-color: var(--dark-blue-hex);
	display: flex;
	align-items: start;
	justify-content: center;
}

.header-content {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	height: 100%;
}


.logo {
	color: var(--background-hex);
}

.content {
	width: 50%;
	height: 80%;
	/* background-color: aqua; */
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 5%;
}

.body-header {
	font-size: 18px;
	height: 3%;
}

.body-image-selector {
	width: 100%;
	height: 25%;
}


.upload-box {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	border: 2px dashed var(--dark-blue-hex);
	box-sizing: border-box;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center
}

.upload-content {
	background-color: var(--dark-blue-hex);
	padding: 10px 20px;
	border-radius: 12px;
}

.upload-content>span {
	color: var(--background-hex);
}

.body-image-info {
	background-color: var(--box-background);
	width: 100%;
	height: 62%;
	border-radius: 12px;
	display: flex;
}

.preview-div {
	width: 50%;
	height: 100%;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	padding: 5%;
	box-sizing: border-box;
}

#preview {
	max-width: 100%;
	max-height: 60%;
}

.image-info-div {
	width: 50%;
	height: 100%;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;

	display: flex;
	flex-direction: column;
	gap: 5%;
	padding: 5%;
	box-sizing: border-box;
}

.image-info-header {
	font-size: 18px;
}

.image-info-input {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.image-info-input>input {
	width: 80%;
	padding: 12px 20px;
	border: 0px;
	margin-left: 20%;
	font-size: 16px;
}

.image-info-input-header {
	position: absolute;
	background-color: var(--dark-blue-hex);
	color: var(--background-hex);
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;

	left: 0px;

}

#loupe {
  position: fixed;
  width: 140px;
  height: 140px;
  border-radius: 999px;
  border: 2px solid #212842;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  pointer-events: none;
  display: none;
  overflow: hidden;
  z-index: 9999;
}

#loupeCanvas {
  width: 140px;
  height: 140px;
  image-rendering: pixelated; /* deixa os pixels “quadrados” */
}
